Package: com.davidedj10.slideup2unlock
Name: SlideUP2Unlock
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: davidedj10
Author: davidedj10
Section: Tweaks
Version: 0.0.1-12
Installed-Size: 344
