Package: com.davidedj10.slideupunlock
Name: SlideUPUnlock
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: davidedj10
Author: davidedj10
Section: Tweaks
Version: 0.0.1-51
Installed-Size: 88
