Package: com.davidedj10.slideup2unlock
Name: SlideUP2Unlock
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: davidedj10
Author: davidedj10
Section: Tweaks
